{% block body_wrap %}
    <div class="container my-9 lg:my-12">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

<div class="h-[230px] lg:h-[500px] bg-cover bg-no-repeat bg-center flex flex-col justify-center" style="background-image: url('{{ img }}')"></div>