<div class="container relative">
    <div class="w-[320px] h-[320px] mt-[-140px]
    sm:w-[550px] sm:h-[550px] sm:mt-[-275px] bg-green rounded-full opacity-40 blur-[100px] absolute right-0 top-1/2 z-[-1]"></div>
    <div class="flex flex-col gap-20 lg:gap-0 lg:flex-row lg:justify-between">
        <h1 class="text-5xl sm:text-7xl uppercase">{{ title }}</h1>
        {{ description|raw }}
    </div>
</div>