<div class="relative">
    <div class="w-[320px] h-[320px] mt-[-140px]
    sm:w-[550px] sm:h-[550px] sm:mt-[-275px] bg-green rounded-full opacity-40 blur-[100px] absolute left-[-30%] top-1/2 z-[-1]"></div>
    <div class="font-helvetica text-2xl sm:text-5xl md:text-[70px] lg:text-[90px] xl:text-[110px] uppercase flex flex-col gap-y-3">
        <div class="text-right flex justify-between items-center lg:pr-72">
            <img src="/img/quote.svg" width="76" height="76" alt="" class="w-[40px] sm:w-[60px] md:w-[80px] lg:w-[110px]">
            вереск
        </div>
        <div>понимает желания</div>
        <div>заказчика &</div>
        <div>и предугадывает</div>
        <div class="my-text-outline text-right">его желания</div>
    </div>
</div>