{% extends 'base.html.twig' %}

{% set contactTypes = [
    {title: "Адрес", description: "Санкт Петербург, 13 линия В.О., 6-8 а"},
    {title: "Email", description: "info@veresk-landshaft.ru"},
    {title: "Телефон", description: "+7 (812) 905-18-63, +7 (921) 905-18-63"},
] %}

{% block main %}
    <div class="container">
        <h1 class="text-5xl sm:text-7xl mb-24 uppercase">Контакты</h1>

        <div class="flex flex-col gap-14 lg:flex-row lg:gap-0 lg:justify-between">
            {% for c in contactTypes %}
                <div>
                    <div class="font-helvetica text-4xl sm:text-[40px] mb-2.5">{{ c.title }}</div>
                    <div class="sm:text-xl">{{ c.description }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="my-28">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae093e44cfe769784543e40b36e4f5f00429bfaab842c81cc8175dd9d1bf77862&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
{% endblock %}