{% extends 'base.html.twig' %}

{% block main_before %}
    {% include 'page/_landshaftnoe-proektirovanie_parts/intro.html.twig' %}
{% endblock %}

{% block main %}
    <div class="container">
        {% include 'page/_landshaftnoe-proektirovanie_parts/services.html.twig' %}
    </div>
{% endblock %}
