<h3 class="text-2xl lg:text-4xl mb-7 sm:max-w-[300px] md:max-w-[660px]">Цена на ландшафтные работы складывается из комплекса работ</h3>

<div class="flex">
    <div class="sm:basis-1/4"></div>
    <div class="sm:basis-3/4 text-lg">
        <div class="sm:max-w-[400px] md:max-w-[660px]">
            <p class="mb-5">Проектирование, благоустройство, озеленение, индивидуальных особенностией приусадебного участка и предпочтений клиента. Полную стоимость мы сможем расчитать только после изучения всех тонкостей и понимания, чего хочет заказчик.</p>
            <p>Если вы точно определились, что у Вас должно быть на участке, то цены на все работы можно запросить у нашего менеджера.</p>
        </div>
    </div>
</div>