{% set items = [
    {title: "Переувлажненность участка", desc: "Грамотно определенные характеристики участка позволят спроектировать дренаж и стоки, чтобы избежать застоя воды."},
    {title: "Рациональность использования", desc: "Проектирование дорожно-тропиночной сети позволит максимально удобно и быстро передвигаться по участку. Необходимо спроектировать зонирование, правильно расположить парковку и место отдыха."},
    {title: "Надежные дорожки", desc: "Правильное определение почвы, расчет необходимого основания позволит дорожкам прослужить максимально долго."},
    {title: "Участок с большим уклоном", desc: "Укрепление участка подпорными стенами для комфортного перемещения и предотвращения смещения грунта."},
    {title: "Посадка растений", desc: "Знание ассортимента растений, тонкостей их посадки и совместимость. Необходимо определить пригодность почвы на участке, чтобы обеспечить здоровье растений."},
] %}

{% embed "page/_services_parts/caption_2_cols.html.twig" with {title: "Для чего это нужно?"} %}
    {% block text %}
        <div class="max-w-[660px]">
            <div class="text-2xl md:text-3xl mb-5">Ландшафтный дизайн - это не только красота и эстетика</div>
            <div class="opacity-60">Но и удобство и комфортабельность проживания. Ландшафтное строительство - это огромная работа, в ходе которой необходимо решить множество технических вопросов</div>
        </div>
    {% endblock %}
{% endembed %}

<div>
    {% for i in 0..(items|length - 1) %}
        <div class="border-b border-gray-500 pb-7 mb-7 first:border-t first:pt-7 first:mt-7">
            {% set n = i + 1 %}
            {% set item = items[i] %}
            {% embed "page/_services_parts/caption_2_cols.html.twig" with {title: n > 9 ? n : '0' ~ n, isCentered: true} %}
                {% block text %}
                    <div class="max-w-[660px] lg:max-w-full lg:flex lg:justify-between lg:items-center">
                        <h4 class="text-2xl mb-5">{{ item.title }}</h4>
                        <div class="opacity-60 lg:max-w-[340px]">{{ item.desc }}</div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    {% endfor %}
</div>