<div class="relative lg:max-w-[670px] lg:mx-auto">
    <div class="w-[320px] h-[320px] mt-[-140px]
    sm:w-[550px] sm:h-[550px] sm:mt-[-275px] bg-green rounded-full opacity-40 blur-[100px] absolute left-[-30%] top-1/2 z-[-1]"></div>
    <img src="/img/quote.svg" width="76" height="76" alt="" class="mb-8">
    <div class="text-xl sm:text-4xl mb-10">
        Ландшафтный дизайн имеет три грани. С одной стороны это творчество, с другой в нем требуется четкое соблюдение технологий, с третьей стороны природа является живым организмом, который не стоит на месте.
    </div>

    <a href="#" class="h-[32px] leading-[30px] border border-white px-5 inline-block text-base hover:bg-white hover:text-black">
        Узнать больше
    </a>
</div>