<div class="flex flex-col-reverse gap-7 sm:flex-row">
    <div class="sm:basis-1/2">
        <img src="{{ img }}" alt="" class="sm:ml-auto">
    </div>
    <div>
        <div class="font-helvetica text-3xl lg:text-4xl">{{ title }}</div>
        <div class="text-xl md:text-2xl opacity-60">{{ description }}</div>
    </div>
</div>