<div class="flex justify-between">
    <div class="flex flex-col justify-between basis-1/2">
        <img src="{{ img2 }}" class="max-w-full" alt="">
        <img src="{{ img3 }}" class="max-w-full" alt="">
    </div>
    <div class="basis-1/2 ml-4">
        <img src="{{ img1 }}" class="max-w-full" alt="">
    </div>
</div>